version: 2.1

executors:
  node-executor:
    working_directory: ~/component-adapter-interfaces
    docker:
      - image: circleci/node:fermium

# reusable command for all jobs
commands:
  checkout_from_workspace:
    description: 'To checkout and attach the workspace'
    steps:
      - checkout
      - attach_workspace:
          at: ~/component-adapter-interfaces

# define jobs
jobs:
  install:
    executor: node-executor
    steps:
      - checkout
      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Install Dependencies
          command: npm i
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths: node_modules
      - persist_to_workspace:
          root: .
          paths: node_modules

  test:
    executor: node-executor
    steps:
      - checkout_from_workspace
      - run:
          name: Linting
          command: npm run test:eslint
      - run:
          name: Unit Test Coverage
          command: npm run test:coverage
      - store_test_results:
          path: test_results

  build:
    executor: node-executor
    steps:
      - checkout_from_workspace
      - run:
          name: Build
          command: npm run build
      - persist_to_workspace:
          root: ./src/webex
          paths: dist
      - persist_to_workspace:
          root: ./src/webexcalling
          paths: dist
  release:
    executor: node-executor
    steps:
      - checkout_from_workspace
      - run:
          name: install
          command: npm i
      - run:
          name: install
          command: npm i
      - run:
          name: Release
          command: npm run release

# execute the jobs in a orderly manner
workflows:
  setup_test_release:
    jobs:
      - install
      - test:
          requires:
            - install
      - build:
          requires:
            - test
          filters:
            branches:
              only: master
      - release:
          requires:
            - build
          filters:
            branches:
              only: master